/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.hero-image {
  background-image: url("https://media.istockphoto.com/id/184370830/photo/cars-in-the-street.jpg?s=612x612&w=0&k=20&c=sEwaCgYubYbWFiPeBnWgAIsbi0f2x_X6xbOP6oP2fHQ=");
  background-attachment: fixed; /* For parallax effect */
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text h1 {
  color:white;
  text-align: center;
  font-size: 60px;
  font-family: "Roboto", sans-serif;
}

.hero-text p {
  font-size: 2rem;
  color:white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

footer.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}

.map-container {
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
}
