<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Park 1 Plus</title>
  <link rel="stylesheet" href="final.css">
</head>

<body style="background-color: beige;">
  <header class="hero-image">
    <div class="container">

      <div style="padding: 40px 20px; text-align: center; width: 300px;">
        <form id="location-form" class="location-form">
          <label for="search-input" class="form-label"
            style="display: block; font-size: 1.5em; margin-bottom: 10px;">ENTER LOCATION</label>
          <input type="text" class="form-control" id="search-input" placeholder="Enter location" style="width: 200px;">
          <br><br>
          <button type="button" id="search-button" class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>
    </div>

    <div class="car-park-info">
      <h2 class="park-plus-heading">PARK PLUS</h2>
      
      
     
    </div>
   
    
  </header>

  <section class="about">
    <div class="container">
      <h1>ABOUT US</h1>
      <h3>
        <marquee>Your Intelligent Parking Solution</marquee>
      </h3>

      <p style="font-size:16px; font-weight: bold;">Tired of circling the block, searching for a parking spot? <br>
        PARK PLUS is here to revolutionize your parking experience. Our innovative platform provides real-time updates
        on parking availability, helping you save time and reduce stress. Whether you’re a commuter, a tourist, or a
        local resident, our user-friendly interface makes it easy to find the perfect parking spot. Experience the
        future of parking today. Download our app or visit our website to discover a smarter way to park.
      </p>
    </div>
  </section>

  <section class="map-section" id="map-section">
    <div class="container">
      <div class="map-container" id="map" style="height: 500px;"></div>
    </div>
  </section>

  <script src="final.js"></script>
</body>

</html>
